@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

:root{
    /* --bg_green_01: #14fdbe;
    --bg_green_02: #13eeb3;
    --bg_green_03: #13e1a9;
    --bg_green_04: #11cc99;
    --bg_green_05: #0eb486; */
    --bg_green_06: #0d9c74;
    --bg_green_07: #0a7a5b;
    --bg_green_08: #07533e;
    --bg_green_09: #064333;
    --bg_green_10: #043024;
    --bg-gray-08: #05527e;
}
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

body{
    @apply text-emerald-800;
}

[data-current='bg-menu'] {
    @apply bg-[var(--bg_green_08)] text-white;
}

[data-flux-field]:not(ui-radio) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply !outline-0 shadow-gray-400;
    /* @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground; */
}

.btn_eme_700{
    @apply p-[15px] bg-emerald-700 rounded-[5px] text-white;
}

.blck_green{
    @apply text-emerald-300 bg-green-200 hover:bg-green-300 text-emerald-600 hover:text-emerald-800 
    dark:bg-transparent dark:hover:bg-green-200/20 dark:text-green-300 dark:hover:text-green-500 
    rounded-md;
}

table.tb_default{
    @apply w-full border-separate border-spacing-0 text-sm overflow-hidden 
    border-[1px] border-emerald-700
    dark:border-[1px] dark:border-[var(--bg-gray-08)]
    rounded-2xl ;

    thead{
        tr{
            @apply text-white
                bg-emerald-700
                dark:bg-[var(--bg-gray-08)]
                dark:text-gray-200;
            th{
                @apply 
                
                p-5 pl-8 text-left font-medium
                dark:bg-[#171717] dark:border-gray-600 ;
            }
        }
    }

    tbody{
        @apply bg-white dark:bg-gray-800;
        tr{
            
            td{
                @apply border-b-1 border-b-emerald-700
                p-5 pl-8 text-gray-500 
                dark:border-gray-700 dark:text-gray-400
                ;
            }
          &:last-child{
            td{
                @apply border-b-transparent border-b-1;
            }
          }  
        }
    }   
}

